# MCUXpresso project file

/KL25/inspectorRTOS/Debug
/KL25/AzureRTOS_TAD_logs
/KL25/FreeRTOS_TAD_logs
/KL25/ZephyrRTOS_TAD_logs
/KL25/inspectorRTOS/inspectorRTOS PE Debug.launch

/KL25/.metadata
/KL25/.mcuxpressoide_packages_support
/KL25/inspectorRTOS/.settings
/KL25/inspectorRTOS/.cproject
/KL25/inspectorRTOS/.project

# Bin from project
/bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
